:root {
    --light-grey-color: #F3F3F3;
    --dark-grey-color: #8E8D8A;
    --form-input-color: #E3E3E3;
    --saga-red-color: #E98074;
    --faded-saga-red-color: rgba(233, 128, 116, 0.44);
}

.taskpane {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
    padding: 10px;
}

.header {
    margin-top: 5vh;
    text-align: center;
}

.saga-logo {
    margin: auto;
    display: block;
}

.title-text {
    font-size: 25px;
}

.card-div {
    margin-left: 5vw;
    margin-right: 5vw;
    overflow-wrap: break-word;
}

.floating-card {
    background-color: var(--light-grey-color);
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.creation-option {
    font-size: 18px;
    font-weight: bold;
    color: black
}

.create-project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtext-div-full {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.subtext-div-half {
    width:50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 0vw;
    overflow-wrap: break-word;
    flex-grow: 1;
}

.new-project-text-div {
    position: relative;
    width:100%;
    padding-top: 3vh;
}

.new-project-text {
    padding-left: 3vw;
}

.subtext {
    color: var(--dark-grey-color);
    font-weight: bold;
    font-size: 14px;
}

.form {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.input {
    color: var(--saga-red-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    width: 50vw;
    height: 3vh;
    background-color: var(--form-input-color);
}

.feedback {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    color: var(--saga-red-color);
    border-color: var(--dark-grey-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border-color: none;
    position: relative;
    width: 90%;
    height: 10vh;
    background-color: var(--form-input-color);
}

.submit-button {
    height: 4vh;
    background-color: var(--saga-red-color);
    border-color: var(--saga-red-color);
    color: white;
}

.download-button {
    height: 4vh;
    background-color: var(--saga-red-color);
    border-color: var(--saga-red-color);
    color: white;
    padding-left:1vw;
    padding-right:1vw;
}

.center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.project-link-div {
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: var(--form-input-color);
    width: 60vw;
    height: 3vh;
    border-radius: 4px;
}

.clipboard {
    margin-right: 10vw;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.FAQ-text {
    margin-bottom: 0px;
}

.subtext-disclaimer {
    color: var(--dark-grey-color);
    font-size: 14px;
    margin-top: 0px;;
}

.merge-result-text {
    padding-left:3vw;
    padding-right:3vw;
    text-align:center;
}

.feedback-form-title {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 2vh;
    text-align: center;
}