.header-small {
    margin-top: 1vh;
    text-align: center;
}

.saga-logo-small{
    margin: auto;
    display: block;
}

.title-text-small {
    font-size: 20px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}